.createEventPage-container{
  background-color: white;
  height: 100vh;
  width: 100%;
}

.createEventPage {
background-color: black;
height: 100vh;
width: 100%;
}

.form-container{
  background-color: black;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px; /* Increased by 500 pixels */ 
  max-height: 1200px; /* Added a max-height */
  

}

.createEventPage-container-form {
    display: flex;
    flex-direction: column;

    
    
    .lineup-group {
      display: flex;
      align-items: center;
    }
    
    .lineup-input {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .inputs-div {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    max-width: 1000px; /* Increased by 500 pixels */
    max-height: 1000px; /* Added a max-height */

    

    h2{
      text-align: center;
      margin-bottom: 25px;
      font-weight: bold;
      font-family: Arial, sans-serif;
    }

    label{
        color: #555;
        flex: 1;
        margin-right:-100px;
        white-space: nowrap;
    }
    textarea {
      resize: vertical;
      height: 80px;
      margin-left: 95px;
    }
    
    input,textarea
    {
      flex: 2;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #fcf9f9;
      background-color: #bdb9b9;
      
    }

      .plus-icon{
        margin-left: 10px;
        margin-top: 5px;
        display: flex;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }  

    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
   
  }
  
 
  
  /* label {
    color: black;
    flex: 1;
    margin-right: 10px;
    white-space: nowrap; /* Prevent label words from wrapping 
  } */

 

.button-container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
 
    button {
      padding: 20px 70px;
      border: 1px solid white;
      border-radius: 4px;
      background-color: #4e4e4e;
      color: rgb(129, 129, 129);
      font-size: 16px;
      cursor: pointer;
     
    }
   
  button:hover {
    background-color: #555;
  }
  }
 
     
  

  @media (max-width: 600px) {
    .form-container {
      padding: 20px;
    }
  
    .inputs-div {
      padding: 10px;
    }
  
    .form-group {
      flex-direction: column;
      align-items: flex-start;
    }
  
    label {
      margin-bottom: 5px;
      margin-right: 0;
    }
  
    button {
      font-size: 14px;
    }
  }