/* CreateEvent.css */
.EventDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Background color of the container */
}

.EventDetails form {
   background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Increased max width for more space */
    width: 100%;
}

.EventDetails h2 {
    text-align: center;
    margin-bottom: 20px;
}

.EventDetails .form-group {
    display: flex;
    align-items: center; /* Vertically center items */
    margin-bottom: 15px;
}

.EventDetails .form-group label {
    width: 30%; /* Set the width of the label */
    margin-right: 10px;
    font-weight: bold;
    text-align: right; /* Align text to the right within the label */
    min-width: 150px; /* Ensure a minimum width for consistency */
}

.EventDetails .form-group input, 
.form-group textarea {
    width: calc(70% - 10px); /* Adjust width for alignment with labels */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #dddcdc;
}

.EventDetails .textarea {
    resize: vertical; /* Allow vertical resizing */
}

.EventDetails .lineup-group {
    margin-bottom: 15px;
}

.EventDetails .lineup-group label {
    width: 30%; /* Align with other labels */
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
    min-width: 150px; /* Ensure consistency */
}

.EventDetails .lineup-group .lineup-textarea {
    width: calc(70% - 10px); /* Align with other input fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #dddcdc;
    resize: vertical; /* Allow vertical resizing */
}

.EventDetails .add-lineup-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto; /* Move button to the right */
    display: block; /* Ensure button takes up full width available in its container */
}

.EventDetails .add-lineup-button:hover {
    background-color: #333;
}

.EventDetails .lineup-group ul {
    padding-left: 20px;
    margin-top: 0;
    list-style-type: disc;
}

.EventDetails .buttons {
    display: flex;
    justify-content: center; /* Center align buttons */
    margin-top: 20px;
}

.EventDetails .button[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.EventDetails .button[type="submit"]:hover {
    background-color: #0e0707;
}
