.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px ;
  position: relative;
  bottom: 0;
  width: 100%;
  }

  .footer.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #333; /* Ensure the footer is visible */
  }
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  