.video-container1 {

    position: relative;
    width: 80%;
    height: 0vh;
    overflow: hidden;
  }
  
  .fullscreen-video {
    
    width: 100%;
    height: 100%;    
    object-fit: cover;
  }
  
  .signup-button {
    position: absolute;
    top: 10%;
    right: 5%; /* Positioned on the right side */
    width: 150px; /* Set the width */
    height: 40px; /* Set the height */
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
    color: white;
    border: 2px solid white; /* Optional: border for better visibility */
    border-radius: 40px;
    cursor: pointer;
    opacity: 80%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .signup-button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7); /* Slightly less transparent on hover */
    border-color: rgba(255, 255, 255, 0.8); /* Change border color on hover */
  }