.search-artist-results-container {
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-bottom: 0;
}

.search-artist-body {
    background-color: black;
    width: 100%;
    height: 100%;
}

.search-artist-search-bar {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px;
    margin-right: 20px;
    width: 100%;
}

.search-artist-search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 50px;
    margin-right: 100px;
    /* position: fixed; */
}
.event-org-title-container{
    width: 100%;
    height:100px;
    position: fixed;
    background-color: #fff;
    margin-top: -100px;
    margin-left: -10px;
    z-index: 1000;
}
.search-artist-title {
    color: red;
    font-weight: bold;
    position: fixed; 
    background-color: white;
    z-index: 1000;
    width: 100%;
    margin-top: 40px;
}

.search-artist-suggested-title {
    color: red;
    font-weight: bold;
    position: sticky;
    margin-left: 100px;
    margin-bottom: 30px;
}

.search-artist-suggested-artists {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 columns */
    grid-template-rows: repeat(2, 1fr); /* 5 rows */
    gap: 5px;
    /* border: 1px solid white;  */
    margin-bottom: 50px;
    margin-left: 100px;
    width: 88%;
    height: fit-content;
    grid-auto-rows: minmax(150px, 60); /* Minimum height of each row */
}

.artist-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-top: 10px;
    margin-right:50px;
}

.artist-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.artist-card h3 {
    font-size: 25px;
    margin: 0;
    font-family: 'Brush Script MT', cursive;
    color: white;
}

.artist-card p {
    margin: 0;
    font-size: 18px;
    color: white;
}

.search-button {
    background-color: black;
    color: white;
    border: 2px solid white;
    /* /padding: 10px 20px; */
    margin-bottom: 20px ;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.search-artist-searchButton-div{
    margin: top 0;
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}
.empty-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold; /* Font weight */
    /* font-family: 'Inter', sans-serif; */
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
}