/* src/components/Settings.css */
.settings-container {
    background-color: black;
    color: white;
    padding: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-right: 10000px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    background-color: #666;
    color: white;
    font-size: 16px;
    
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
   
  }
  
  button {
    
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #444;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #a39f9f;
  }
  