.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

main {
  padding: 2rem 1rem;
}

h2 {
  color: #333;
}

p {
  color: #666;
}
.change_background
{
   background-color: black;
   margin-top: 50px;
   padding-bottom: 50px;
   padding-top: 50px;
}

.change_background1
{
   background-color: white;
   margin-top: 50px;
   padding-bottom: 50px;
   padding-top: 50px;
}

.change_background h2
{
    color: white;
}

html {
  scroll-behavior: smooth;
}